{% extends "base.html" %}

{% block content %}
  
  <h2>Find Bands in Your Area</h2>
  
<form class="band-search" method="get" action="/bands/search/" class="navbar-form pull-right">
<input type="text" id="searchBox" class="input-medium search-query" name="address" placeholder="Address">
<input type="submit" class="btn" value="Search" >
<br>
<br>
<select name="price_dir">
  <option value="ASC">Lowest Price First</option>
  <option value="DESC">Highest Price First</option>
</select>
</form>

<br><br>
  
{% endblock %}