{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}BOOK-A-BAND.com{% endblock %}</title>

    <!-- <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" > -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/newstyle.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class = "body-blue">
	<div id="page" class = "outer-div">
        <h2>Welcome to BOOK-A-BAND.com</h2>

    <div id="sidebar" class = "inner-div">
        {% block sidebar %}
            <p>Username: {{ user.username }}</p>
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
{#                {% if  %}#}
            {% else %}
            <p>Welcome, new user. Please log in.</p>
            {% endif %}


            <p><a href="/" class="btn btn-default">Home</a>
            <a href="/admin" class="btn btn-default">Admin</a>

            <a href="/accounts/login/" class="btn btn-default">Login</a>
            <a href="/accounts/logout/" class="btn btn-default">Logout</a>
            <!-- <a href="/accounts/profile/" class="btn btn-default">Profile</a> -->
            

            <a href="/accounts/register_band/" class="btn btn-default">Register Band</a>
            <a href="/accounts/register_host/" class="btn btn-default">Register Host</a>
            <a href="/bands/" class="btn btn-default">Find Bands</a>
            </p>
        {% endblock %}
    </div>
    <div id="content" class = "inner-div">

        {% block content %}This is the content area{% endblock %}


	</div>
		</div>
</body>
</html>
