{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/3a86fd627e.js"></script>
    <title>{% block title %}BOOK-A-BAND.com{% endblock %}</title>

    <!-- <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" > -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/newstyle.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class = "body-blue">
	<div id="page" class = "outer-div">
        <h2>Welcome to <i class="fa fa-music" aria-hidden="true"></i> <b>BOOK-A-BAND.com</b> <i class="fa fa-music" aria-hidden="true"></i></h2>

    <div id="sidebar" class = "inner-div">
        {% block sidebar %}
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
            {% else %}
            <p>Welcome, new user. Please log in.</p>
            {% endif %}


            <p><a href="/" class="btn btn-default"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a href="/admin" class="btn btn-default"><i class="fa fa-id-badge" aria-hidden="true"></i> Admin</a>

            <a href="/accounts/login/" class="btn btn-default"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            <a href="/accounts/logout/" class="btn btn-default"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            <!-- <a href="/accounts/profile/" class="btn btn-default">Profile</a> -->
            

            <a href="/accounts/register_band/" class="btn btn-default"><i class="fa fa-headphones" aria-hidden="true"></i> Register Band</a>
            <a href="/accounts/register_host/" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> Register Host</a>
            <a href="/bands/" class="btn btn-default"><i class="fa fa-search-plus" aria-hidden="true"></i> Find Bands</a>
            </p>
        {% endblock %}
    </div>
    <div id="content" class = "inner-div">

        {% block content %}This is the content area{% endblock %}


	</div>
		</div>
</body>
</html>
