{% extends "base.html" %}
{% load static %}

{% block content %}

    <h2>Edit Profile</h2>
    <p>Here's your public profile</p>
    <hr/>
    <center>
    <div class = "display-div">
    <p><b>Band Name: </b>{{ band.b_name }}</p>
    <p><b>Band Rating: </b>{{ band.b_avgrating }}</p>
    <p><b>Band Price: </b>${{ band.b_price }}</p>
    <p><b>Band Bio: </b>{{ band.b_bio }}</p>
    <p><b>Band Contact Availability: </b>{{ band.b_availability }}</p>
    <p><b>Band Email: </b>{{ band.b_email }}</p>
    <p><b>Band Phone: </b>{{ band.b_phone }}</p>
    <p><b>Band Address: </b>{{ band.b_address }}</p>
    </div>
    </center>
    <hr/>

    <p>Commit Changes</p>

    <a href="/" class="btn btn-default">Save</a>

{% endblock %}