{% extends "base.html" %}
{% load static %}

{% block content %}

    <h2>Welcome to the hosts home page</h2>

    <p>Here's your public profile</p>
    <hr/>
    <center>
    <div class = "display-div">
    <p><b>Host Name: </b>{{ host.h_name }}</p>

    <p><b>Host Contact Availability: </b>{{ host.h_availability }}</p>
    <p><b>Host Email: </b>{{ host.h_email }}</p>
    <p><b>Host Phone: </b>{{ host.h_phone }}</p>
    </div>
    </center>
    <hr/>
        <a href="/accounts/register_event/" class="btn btn-default">Register New Event</a></p>
    <hr/>
    <p>Something not right?</p>
    <a href="/accounts/host_edit_profile/" class="btn btn-default">Edit Profile</a>

{% endblock %}