{% extends "base.html" %}

{% block content %}
  
  <h2>Register</h2>
  
{#  {% for field in form %}#}
{#    {{field.error}}#}
{##}
{#  {% endfor %}#}
  
  <form action="/accounts/register_event/" method="post">
        <p>BOOK-A-BAND.com Info</p>
      <hr>
<!--   {{ form2 }}
      <hr>
      <p>Band Info</p>
      <hr>
  {{form}} -->
<!--       {% for field in form2 %}
      <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
      </tr>
      <br/>
      {% endfor %} -->
<!--       <center><table>{{form2.as_table}}</table></center>
      <hr>

      <hr>
      <p>Band Info</p>
      <hr> -->

<!--       {% for field in form %}
      <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
      </tr>
      <br/>
      {% endfor %} -->
      <center><table>{{form.as_table}}</table></center>
      <input type="submit" value="Register" />
    
  </form>
  
{% endblock %}